{% extends "base.html" %}
{% block content %}
  <div class="columns">
    <div class="column">
      <form method="POST" action="/">
        {% csrf-field %}
        <input class="input" type="text" name="query" placeholder="Search for a Bible passage" {% if query %}value="{{ query }}"{% endif %} />
        <input type="submit" value="Search">
      </form>
    </div>
  </div>

  {% if query %}
    {% if results|empty? %}
      <p>No results for "<b>{{ query }}</b>". Try another search.</p>
    {% else %}
      <p>Results for "<b>{{ query }}</b>":</p>
    {% endif %}
  {% endif %}

  <div>
    <ul>
      {% for result in results %}
        <li>{{ result|take:2|join:" ⭤ " }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
