{:deps
 {clojure-csv/clojure-csv {:mvn/version "2.0.2"}
  io.pedestal/pedestal.service {:mvn/version "0.5.7"}
  io.pedestal/pedestal.route {:mvn/version "0.5.7"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.7"}
  ns-tracker/ns-tracker {:mvn/version "0.4.0"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.28"}}
 :paths ["src"]}
