{% extends "html/base.html" %}
{% block content %}
<br>
<div class="small-10 medium-8 large-6 columns">
  <div>
    <form method="GET" action="/">
      <input class="input" type="text" name="q" placeholder="Search for a Bible passage" {% if query %}value="{{ query }}"{% endif %} />
      <input type="submit" value="Search">
    </form>
  </div>
</div>

{% if query %}
  {% if results|empty? %}
    <p>No results for "<b>{{ query }}</b>". Try another search.</p>
  {% else %}
    {% include "html/ref-display.html" %}
  {% endif %}
{% endif %}

{% endblock %}
