<p>Found {{ results|count }} cross-references for "<b>{{ query }}</b>":</p>

<button id="graphDivDisplayButton" onclick="displayGraph()">View as graph</button>
<button id="tableDivDisplayButton" onclick="displayTable()" style="display: none;">View as table</button>

<div id="graphDiv" style="display: none;">
    {% include "html/ref-display-graph.html" %}
</div>

<div id="tableDiv">
    {% include "html/ref-display-table.html" %}
</div>

<script>
    function displayGraph() {
        document.getElementById('graphDiv').style.display = 'inherit';
        document.getElementById('tableDivDisplayButton').style.display = 'inherit';
        document.getElementById('tableDiv').style.display = 'none';
        document.getElementById('graphDivDisplayButton').style.display = 'none';
    }

    function displayTable() {
        document.getElementById('tableDiv').style.display = 'inherit';
        document.getElementById('graphDivDisplayButton').style.display = 'inherit';
        document.getElementById('graphDiv').style.display = 'none';
        document.getElementById('tableDivDisplayButton').style.display = 'none';
    }
</script>
